PORT=3000
SESSION_SECRET=

# 参照専用接続（基幹システムDB）
DB_READONLY_SERVER=
DB_READONLY_DATABASE=
DB_READONLY_USER=
DB_READONLY_PASSWORD=

# セッションテーブル専用の書き込み可能接続
DB_SESSION_SERVER=
DB_SESSION_DATABASE=
DB_SESSION_USER=
DB_SESSION_PASSWORD=
